*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* start nabar home section  */
.navbar-home a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: inherit;
    display: inline-block;
    letter-spacing: .5px;
    padding: 12px;
}
.nav-home{
    display: flex;
    justify-content: space-between;  
    position: sticky;
    top: 0;
    z-index: 1000;
    background: transparent;
    transition: 0.3s;
    align-items: center; 
    color: white;
    padding: 15px 30px;
}
.logo img{
    width: 200px;
    margin:0PX 0PX  21PX 12PX;
}
/* end navbar home section  */

/* start header home section  */
.header-home{
    background-image: url(img/drew-coffman-1872.jpg);
    background-size: cover;
    height: 690px;
}

.header-content{
    text-align: center;
    margin-top: 130px;
}

.header-content h1{
    font-size: 65px;
    font-family: inherit;
    margin-bottom: 28px;
    color: #fff;
}
.header-content p{
    font-size: 22px;
    font-family: inherit;
    color: #fff;
    margin-bottom: 40px;
}

.header-content a{
    text-decoration: none;
    color: #fff;
    background-color:#8e7754;  
    margin-right: 15px;
    border-radius: 5px;
    padding: 17px 22px;
}

.nav-home a:hover{
    color: #e49f46;
}
.header-content a:nth-of-type(2){
    background-color: transparent;
    color: #fff;
    border: 1px solid #ffffff;
}

.header-content a:hover{
    background-color: #fcf9f9;
    color: #000;
}
/* end header home section   */

/* start section Two   */

.section-two{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0px;
}   

.image img{
    width: 600px;
}

.section-two .content h2{
    font-size: 40px;
    font-family: inherit;
    color: #3f3e3e;
    margin-bottom: 31px;
}
.section-two .content span{
    font-size: 17px;
    line-height: 1.9;
    font-family: inherit;
    color: #3f3e3e;
    
}
.section-two .content ul{
    line-height: 1.8;  
    margin-top: 25px;
    margin-left: 15px;
    border-radius: 5px;
    padding: 17px 22px;
}
.section-two .content ul li{
    font-size: 17px;
    font-family: inherit;
    color: #3f3e3e;
    margin-bottom: 25px;
}

/* End Section Two    */

/* start section three    */
.section-three{
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}
.section-three .image img{
    margin-left: 35px;
}
.section-three .content h2{
    font-size: 35px;
    font-family: inherit;
    color: #3f3e3e;
    margin-bottom: 31px;
}
.section-three .content span{
    font-size: 17px;
    line-height: 1.8;
    font-family: inherit;
    color: #3f3e3e;
}

/* End Section three     */

/* Start section four      */

.section-four h3,p{
    text-align: center;
    font-family: inherit;
    margin-bottom: 20px;
    color: #3f3e3e;
    padding: 12px;
}

.section-four p{
    font-size: 17px;
}

.section-four h3{
    font-size: 28px;
    margin-top: 40px;
}
.section-four span{
    font-size: 16px;
    color: #3f3e3e;
    margin-bottom: 40px;
}

.content-four{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content-four .card{
    text-align: center;
}
.content-four .card img{
    width: 400px;
    margin-bottom: 20px;
}
.content-four .card h4{
    font-size: 22px;
    font-family: inherit;
    color: #3f3e3e;
    margin-bottom: 15px;
}
.content-four .card span{
    font-size: 16px;
    line-height: 1.6;
    font-family: inherit;
    color: #636262;
}


/* End section four       */


/* start section five  */
.section-five{
    background-color: #eee;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}
.section-five .content-five{
    width: 600px;
}
.section-five .content-five h3{
    font-size: 35px;
    font-family: inherit;
    color: #575555;
    margin-bottom: 31px;
}
.section-five .content-five span{
    font-size: 17px;
    line-height: 1.7;
    font-family: inherit;
    color: #3f3e3e;
    margin-bottom: 30px;
}
.section-five .content-five ul{
    line-height: 1.6;  
    margin-top: 25px;
    margin-left: 35px;
}
.section-five .content-five ul li{
    font-size: 17px;
    font-family: inherit;
    color: #3f3e3e;
    margin-bottom: 25px;
}
.image-map{
    margin-left: 23px;
}
/* End section five */


/* start footer home section  */
.footer{
    background-color: #403d38;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px;
}

.footer span{
    font-size: 17px;
    line-height: 1.8;
    font-family: inherit;
    color: #8b714d;
}
.footer h4{
    font-size: 22px;
    margin-bottom: 12px;
    font-family: inherit;
    color: #fff;
}
.Phase-two ul li{
    font-size: 17px;
    line-height: 2.3;
    margin-left: 32px;
    font-family: inherit;
    color: #8b714d;
}
.Phase-three ul li{
    font-size: 17px;
    line-height: 2.3;
    margin-left: 32px;
    font-family: inherit;
    color: #8b714d;
}

.Phase-four ul li{
    font-size: 17px;
    line-height: 2.3;
    margin-left: 32px;
    font-family: inherit;
    color: #8b714d;
}
hr{
    width: 100%;
    margin: auto;
    border: .4px solid rgb(95, 65, 23);
}
.copyright{
    background-color: #353330;
    text-align: center;
    padding: 40px 0px;
}
.copyright img{
    margin-bottom: 23px;
}
.copyright span{
    font-size: 17px;
    font-family: inherit;
    color: #918d88;
}

/* End footer home section   */