.parent{
    display: flex;
    justify-content: space-around;
}

img{
    margin-top: 40px;
}

.child-1  {
    width: 50%;
}

.child-2{
    width: 50%;
}
label{
    margin-right: 23px;
}
h1{
    text-align: center;
}
form{
    margin-top: 10px;
    margin-left: 85px;
}
hr{
    width: 73%;
    border: 1px solid red;
    margin: auto;
}