/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Header */
.header {
  color: #fff;
  padding: 20px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  list-style: none;
  display: flex;
}

.header li {
  margin-left: 20px;
}

.header a {
  color: white;
  text-decoration: none;
}

/* Hero */
.hero {
  height: 100vh;
  background: url("img/hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero h2 {
  font-size: 40px;
}

.hero button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: crimson;
  color: white;
  border-radius: 5px;
}

/* Sections */
.section {
  padding: 60px 0;
}

.gray {
  background: #f4f4f4;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.text {
  text-align: center;
}

/* Grid */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Card */
.card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input,
.form textarea {
  padding: 10px;
  border: 1px solid #ccc;
}

.form button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
}

/* Footer */
.footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  .header .container {
    flex-direction: column;
  }
}