* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* ================= HEADER ================= */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 10;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: white;
}

.header ul {
  list-style: none;
  display: flex;
}

.header li {
  margin-left: 20px;
}

.header a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
}
.container{
  margin-top: 10px;
}
.container ul li a:hover {

  text-decoration: underline rgb(209, 52, 52) 2px;
}

/* ================= HERO ================= */
.hero {
  height: 100vh;

  background: linear-gradient(rgba(0,0,0,0.6)),
    url("../img/hero-bg.jpg") center/cover no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero .content {
    margin-top: 12px;
}

.hero .content h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero .content p {
  font-size: 22px;
  padding: 12px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 46px;
  border: 2px solid #eeeeeed8;
  background: transparent;
  color: white;
  border-radius: 62px;
  cursor: pointer;
}
.hero button:hover {

    background: rgb(250, 28, 72);
    border: none;

}

/* ================= ABOUT ================= */

.content{
  text-align: center;
  margin-top: 35px;
  padding: 10px;
}
.content h4{
  color: rgb(216, 80, 80);
  margin: auto;
  width: 8%;
  border-radius: 45px;
  background-color: rgb(233, 192, 192);
  padding: 8px;
}
.content h2{
  padding: 18px;
  font-size: 34px;
}
.content h2 span{
  color: rgb(236, 79, 110);
}


.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container .l-content h2{
  color: rgb(49, 49, 49);
  font-size: 33px;
  margin-bottom: 33px;
}
.container .l-content p{
  line-height: 1.4;
  font-size: 14px;
  margin-bottom: 24px;
}
.container .l-content button{
  padding: 10px 33px;
  color: rgb(236, 79, 110);
  border: 2px solid rgb(226, 101, 101);
  background-color: transparent;
  border-radius: 35px;
}
.container .l-content button:hover{
  background-color: rgb(230, 91, 91);
  color: white;
}

.grid-3{
  width: 55%;
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}

.grid-3 .top{
  margin-bottom: 15px;
}

.grid-3 .card-1 i{
  margin-bottom: 19px;
  color: rgb(233, 89, 118);
  font-size: 40px;
}

.grid-3  .card-1 h4{
  margin-bottom: 19px;
}

.grid-3 .card-1 h4:hover{
  color: rgb(230, 91, 91);
}

.grid-3 .t .card-1 p{
  margin-bottom: 19px;
  color: rgb(141, 143, 145);
}

